/* Select2 */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #0090e7;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-dropdown,
.select2-container--default .select2-selection--multiple {
    /* border-color: #ffffff; */
    background: #ffffff;
}

.js-example-basic-multiple:focus {
    border: 1px solid #ffffff;
}

.select2-container--default .select2-selection--single .select2-search__field,
.select2-container--default .select2-dropdown .select2-search__field,
.select2-container--default .select2-selection--multiple .select2-search__field {
    border-color: #2c2e33;
}

.select2-container--default .select2-selection--single {
    height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #ffffff;
    line-height: 14px;
}

.select2-container--default .select2-dropdown {
    font-size: 0.8125rem;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #2c2e33;
}

.select2-container--default.select2-container--focus .select2-selection--multiple:focus {
    border-color: #ffffff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: color(white);
    border: 0;
    border-radius: 3px;
    padding: 6px;
    font-size: 0.625rem;
    font-family: inherit;
    line-height: 1;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    color: color(white);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(5n + 1) {
    background: #0090e7;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(5n + 2) {
    background: #00d25b;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(5n + 3) {
    background: #8f5fe8;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(5n + 4) {
    background: #fc424a;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(5n + 5) {
    background: #ffab00;
}